
/*for the logo*/
.slide-top {
	-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*for the navbar*/
.slide-topagain {
	-webkit-animation: slide-topagain 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1s;
	        animation: slide-topagain 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1s;
}

/*for the logo*/
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    opacity:0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*for the navbar*/
@-webkit-keyframes slide-topagain {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-topagain {
  0% {
    opacity:0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
