body{
  image-rendering: pixelated;
}
body {
  margin: 0;
  background-color: black;
}

@font-face {
    font-family: "Airbnb";
    src: url(https://github.com/notmugi/notmugi.github.io/blob/master/font/AirbnbCerealBook.ttf?raw=true) format("truetype");
}

#nav {
  margin: 0;
  position: relative;
  padding-top: 30px;
  color:white;
}

.container {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.customfont {
  color: white;
  text-decoration: none;
  font-family: Verdana, Tahoma;
}
