body {
  background-color: black;
  image-rendering: pixelated;
}

/*div containing all divs*/
#main{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

/*div containing logo and navbar*/
.container {
  display:flex;
  flex-direction: column;
  width:60vw;
}

/*logo*/
#logo{
  display:flex;
  justify-content: center;
}

/*navbar*/
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

/*links*/
a{
  color: white;
  text-decoration: none;
  font-family: Verdana, Tahoma;
}

/*hovering a link*/
a:hover{
  color: lightblue;
  transition-duration: 1s;
}

/*unhovering links*/
a:not(:hover){
  transition-duration: 1s;
}
