@font-face {
    font-family: 'menloFont';
    src: url('https://raw.githubusercontent.com/notmugi/notmugi.github.io/master/menlo-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: black;
  image-rendering: pixelated;
}

/*div containing all divs*/
#main{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

/*div containing logo and navbar*/
.container {
  display:flex;
  flex-direction: column;
  width:60vw;
}

/*logo*/
#logo{
  display:flex;
  justify-content: center;
}

/*navbar*/
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/*links*/
a{
  color: white;
  text-decoration: none;
  font-family: menloFont;
  transition-duration: 1s;
  margin-left: 5vw;
  margin-right: 5vw;
}

/*hovering a link*/
a:hover{
  color: lightblue;
  transition-duration: 1s;
}
#discord{
display:flex;
align-content: center;
align-items: center;
justify-content: center;
width: 60vw;
}

.displaytextone, .displaytexttwo{
  color: #FFFFFF;
  text-decoration: none;
  font-family: menloFont;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  transition-duration: 1s;
  font-weight: bolder;
}
a.customfont{
	font-family: menloFont;
}
