body {
  background-color: black;
  image-rendering: pixelated;
}

/*div containing all divs*/
#main{
  display:flex;
  justify-content: center;
  align-items: center;
  height:80vh;
}

/*div containing logo and navbar*/
.container {
  display:flex;
  flex-direction: column;
  width:70%;
}

/*logo*/
#logo{
  display:flex;
  justify-content: center;
}

/*navbar*/
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  color: white;
  text-decoration: none;
  font-family: Verdana, Tahoma;
}
